/*!
 * Bootstrap v4.1.3 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */.view[data-v-f13395e6]{position:relative;display:inline-block;color:#233040;padding-right:37px;line-height:3}.view:hover span[data-v-f13395e6]{-webkit-transform:translateX(-14px);transform:translateX(-14px)}.view[data-v-f13395e6]:hover:before{top:6px;width:38px;height:38px}.view[data-v-f13395e6]:before{content:"";position:absolute;top:12px;right:0;display:block;width:24px;height:24px;background:url(../img/plus.8024ba95.svg) 50% no-repeat;background-size:cover;-webkit-transition:all .2s ease-in .03s;transition:all .2s ease-in .03s}.view span[data-v-f13395e6]{display:inline-block;line-height:1.4;-webkit-transform:translateX(0);transform:translateX(0);-webkit-transition:-webkit-transform .25s ease-in .06s;transition:-webkit-transform .25s ease-in .06s;transition:transform .25s ease-in .06s;transition:transform .25s ease-in .06s,-webkit-transform .25s ease-in .06s}

/*!
 * Bootstrap v4.1.3 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */.logo[data-v-656f9fe8]{position:fixed;top:60px;left:60px;border-radius:50%;z-index:100}.logo[data-v-656f9fe8]:before{content:"";display:block;width:0;height:0;position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%);background:#fff;border-radius:50%;-webkit-transition:.3s ease-in-out;transition:.3s ease-in-out}.logo__img[data-v-656f9fe8]{position:relative;width:80px;height:80px;z-index:2}.logo__img circle[data-v-656f9fe8]{stroke:#314359}.logo__img path[data-v-656f9fe8]{fill:#314359}.blockDark_visible .logo__img circle[data-v-656f9fe8]{stroke:#fff}.blockDark_visible .logo__img path[data-v-656f9fe8]{fill:#fff}

/*!
 * Bootstrap v4.1.3 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */.humb[data-v-642bb017]{position:fixed;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;top:60px;right:60px;height:80px;width:80px;z-index:100}.humb__icon[data-v-642bb017]{position:relative}.humb__icon[data-v-642bb017],.humb__icon[data-v-642bb017]:after,.humb__icon[data-v-642bb017]:before{display:block;width:30px;height:2px;background:#314359}.blockDark_visible .humb__icon[data-v-642bb017],.blockDark_visible .humb__icon[data-v-642bb017]:after,.blockDark_visible .humb__icon[data-v-642bb017]:before{background:#fff}.humb__icon[data-v-642bb017]:after,.humb__icon[data-v-642bb017]:before{content:"";position:absolute;left:0}.humb__icon[data-v-642bb017]:before{top:-8px}.humb__icon[data-v-642bb017]:After{bottom:-8px}

/*!
 * Bootstrap v4.1.3 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */.swiper-container[data-v-8367077a]{position:relative;height:100vh;width:100%}.swiper-container[data-v-8367077a]:before{content:"";position:absolute;top:50%;left:0;width:100%;display:block}.swiper-slide[data-v-8367077a]{text-align:center;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;color:#fff}.swiper-slide-active[data-v-8367077a]{opacity:1}.swiper-slide-active .slider__title[data-v-8367077a]{-webkit-transition-delay:.2s;transition-delay:.2s}.swiper-slide-active .slider__text[data-v-8367077a]{-webkit-transition-delay:.3s;transition-delay:.3s}.swiper-slide-active .slider__more[data-v-8367077a]{-webkit-transition-delay:.4s;transition-delay:.4s}.slider_load .swiper-slide-active .slider__title[data-v-8367077a]{-webkit-transition-delay:1s;transition-delay:1s}.slider_load .swiper-slide-active .slider__text[data-v-8367077a]{-webkit-transition-delay:1.1s;transition-delay:1.1s}.slider_load .swiper-slide-active .slider__more[data-v-8367077a]{-webkit-transition-delay:1.2s;transition-delay:1.2s}.swiper-pagination[data-v-8367077a]{position:absolute;top:100px;left:0;right:0;margin:0 auto}.swiper-pagination[data-v-8367077a] .swiper-pagination-bullet{width:8px;height:8px;margin:0 6px;background:transparent;border:2px solid #fff;outline:none;opacity:1}.swiper-pagination[data-v-8367077a] .swiper-pagination-bullet-active{background:#fff}.slider[data-v-8367077a]{position:relative;background:linear-gradient(122.01deg,#66a9ff,#6de8f2)}.slider[data-v-8367077a] .swiper-wrapper{-webkit-transition-timing-function:cubic-bezier(.645,.045,.355,1)!important;transition-timing-function:cubic-bezier(.645,.045,.355,1)!important}.slider__info[data-v-8367077a]{position:relative;width:230px;height:148px;font-size:16px;line-height:1.1875;text-align:center;-webkit-transition:opacity .3s ease-out;transition:opacity .3s ease-out;z-index:3}.slider__title[data-v-8367077a]{position:absolute;bottom:calc(100% + 26px);left:50%;display:inline-block;margin:0;padding:0 18px;font-size:16px;font-family:Gilroy Regular,sans-serif;font-weight:400;white-space:nowrap;color:#fff;opacity:0;-webkit-transform:translateX(0);transform:translateX(0);-webkit-transition:opacity .5s ease-in,-webkit-transform .8s cubic-bezier(0,0,.35,1);transition:opacity .5s ease-in,-webkit-transform .8s cubic-bezier(0,0,.35,1);transition:opacity .5s ease-in,transform .8s cubic-bezier(0,0,.35,1);transition:opacity .5s ease-in,transform .8s cubic-bezier(0,0,.35,1),-webkit-transform .8s cubic-bezier(0,0,.35,1)}.swiper-slide-active .slider__title[data-v-8367077a]{opacity:1;-webkit-transform:translateX(-50%);transform:translateX(-50%)}.slider__title[data-v-8367077a]:after,.slider__title[data-v-8367077a]:before{content:"";position:absolute;top:.42em;width:0;height:0;border-top:4px solid transparent;border-bottom:4px solid transparent}.slider__title[data-v-8367077a]:before{left:0;border-right:6px solid #fff}.slider__title[data-v-8367077a]:after{right:0;border-left:6px solid #fff}.slider__image[data-v-8367077a]{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;width:148px;height:148px;margin:0 auto;border-radius:50%;background:#fff}.slider__image[data-v-8367077a] img,.slider__image[data-v-8367077a] svg{width:56px;height:56px}.slider__image[data-v-8367077a] #svg-backend__line{-webkit-animation:animation-backend-data-v-8367077a 2s steps(1) infinite;animation:animation-backend-data-v-8367077a 2s steps(1) infinite}.slider__image[data-v-8367077a] #svg-frontend__right{-webkit-animation:animation-frontend-right-data-v-8367077a 1.35s ease-in-out infinite alternate;animation:animation-frontend-right-data-v-8367077a 1.35s ease-in-out infinite alternate}.slider__image[data-v-8367077a] #svg-frontend__left{-webkit-animation:animation-frontend-left-data-v-8367077a 1.35s ease-in-out infinite alternate;animation:animation-frontend-left-data-v-8367077a 1.35s ease-in-out infinite alternate}.slider__image[data-v-8367077a] #svg-design__circle{-webkit-animation:animation-design-data-v-8367077a 3.5s infinite;animation:animation-design-data-v-8367077a 3.5s infinite}.slider__image[data-v-8367077a] #svg-testing__small{-webkit-transform-origin:10px 38px;transform-origin:10px 38px}.slider__image[data-v-8367077a] #svg-testing__big,.slider__image[data-v-8367077a] #svg-testing__small{-webkit-animation:animation-testing-data-v-8367077a 2s linear infinite;animation:animation-testing-data-v-8367077a 2s linear infinite}.slider__image[data-v-8367077a] #svg-testing__big{-webkit-transform-origin:29px 19px;transform-origin:29px 19px}.slider__descr[data-v-8367077a]{position:absolute;top:calc(100% + 24px)}.slider__text[data-v-8367077a]{margin:0;opacity:0;-webkit-transform:translateX(40px);transform:translateX(40px);-webkit-transition:opacity .5s ease-in,-webkit-transform .8s cubic-bezier(0,0,.35,1);transition:opacity .5s ease-in,-webkit-transform .8s cubic-bezier(0,0,.35,1);transition:opacity .5s ease-in,transform .8s cubic-bezier(0,0,.35,1);transition:opacity .5s ease-in,transform .8s cubic-bezier(0,0,.35,1),-webkit-transform .8s cubic-bezier(0,0,.35,1)}.swiper-slide-active .slider__text[data-v-8367077a]{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}.slider__more[data-v-8367077a]{display:inline-block;margin-top:15px;color:#fff;line-height:3;opacity:0;-webkit-transform:translateX(40px);transform:translateX(40px);-webkit-transition:opacity .5s ease-in,-webkit-transform .8s cubic-bezier(0,0,.35,1);transition:opacity .5s ease-in,-webkit-transform .8s cubic-bezier(0,0,.35,1);transition:opacity .5s ease-in,transform .8s cubic-bezier(0,0,.35,1);transition:opacity .5s ease-in,transform .8s cubic-bezier(0,0,.35,1),-webkit-transform .8s cubic-bezier(0,0,.35,1)}.swiper-slide-active .slider__more[data-v-8367077a]{opacity:1;-webkit-transform:translateX(0);transform:translateX(0)}.slider__more span[data-v-8367077a]{position:relative;display:inline-block;-webkit-transform:translateX(0);transform:translateX(0);-webkit-transition:-webkit-transform .25s ease-out;transition:-webkit-transform .25s ease-out;transition:transform .25s ease-out;transition:transform .25s ease-out,-webkit-transform .25s ease-out}.slider__more span[data-v-8367077a]:hover{-webkit-transform:translateX(6px);transform:translateX(6px)}.slider__more span[data-v-8367077a]:hover:after{-webkit-transform:translateX(4px);transform:translateX(4px)}.slider__more span[data-v-8367077a]:after{content:"";display:inline-block;width:22px;height:8px;margin-left:6px;background:url(../img/more.2cf18b2a.svg) 50% no-repeat;-webkit-transform:translateX(0);transform:translateX(0);-webkit-transition:-webkit-transform .25s ease-out .15s;transition:-webkit-transform .25s ease-out .15s;transition:transform .25s ease-out .15s;transition:transform .25s ease-out .15s,-webkit-transform .25s ease-out .15s}.slider__next[data-v-8367077a],.slider__prev[data-v-8367077a]{position:absolute;top:0;bottom:0;width:calc(50% - 150px);display:block;z-index:10;outline:none}.slider__next[data-v-8367077a]:hover,.slider__prev[data-v-8367077a]:hover{cursor:none}.slider__prev[data-v-8367077a]{left:0}.slider__next[data-v-8367077a]{right:0}.mouse[data-v-8367077a]{position:absolute;bottom:60px;left:0;right:0;margin:0 auto;text-align:center;line-height:0;-webkit-animation:animation-mouse-data-v-8367077a 4s ease-in-out infinite;animation:animation-mouse-data-v-8367077a 4s ease-in-out infinite}.mouse .icon[data-v-8367077a]{display:inline-block;width:18px;height:30px}.line[data-v-8367077a]{position:absolute;top:50%;left:0;right:0;width:400%;height:auto;-webkit-transform:translateY(-50%);transform:translateY(-50%);z-index:2;opacity:.85}#lineSecond[data-v-8367077a]{left:400%}.linePath[data-v-8367077a]{stroke:#fff;stroke-width:4px}@-webkit-keyframes animation-mouse-data-v-8367077a{0%{-webkit-transform:translateY(0);transform:translateY(0)}15%{-webkit-transform:translateY(-10px);transform:translateY(-10px)}30%{-webkit-transform:translateY(0);transform:translateY(0)}45%{-webkit-transform:translateY(-10px);transform:translateY(-10px)}60%{-webkit-transform:translateY(0);transform:translateY(0)}to{-webkit-transform:translateY(0);transform:translateY(0)}}@keyframes animation-mouse-data-v-8367077a{0%{-webkit-transform:translateY(0);transform:translateY(0)}15%{-webkit-transform:translateY(-10px);transform:translateY(-10px)}30%{-webkit-transform:translateY(0);transform:translateY(0)}45%{-webkit-transform:translateY(-10px);transform:translateY(-10px)}60%{-webkit-transform:translateY(0);transform:translateY(0)}to{-webkit-transform:translateY(0);transform:translateY(0)}}@-webkit-keyframes animation-backend-data-v-8367077a{0%{-webkit-transform:rotate(0) translate(0);transform:rotate(0) translate(0)}50%{-webkit-transform:rotate(90deg) translateY(-56px);transform:rotate(90deg) translateY(-56px)}to{-webkit-transform:rotate(0) translate(0);transform:rotate(0) translate(0)}}@keyframes animation-backend-data-v-8367077a{0%{-webkit-transform:rotate(0) translate(0);transform:rotate(0) translate(0)}50%{-webkit-transform:rotate(90deg) translateY(-56px);transform:rotate(90deg) translateY(-56px)}to{-webkit-transform:rotate(0) translate(0);transform:rotate(0) translate(0)}}@-webkit-keyframes animation-frontend-right-data-v-8367077a{0%{-webkit-transform:translate(0);transform:translate(0)}to{-webkit-transform:translateY(-24px);transform:translateY(-24px)}}@keyframes animation-frontend-right-data-v-8367077a{0%{-webkit-transform:translate(0);transform:translate(0)}to{-webkit-transform:translateY(-24px);transform:translateY(-24px)}}@-webkit-keyframes animation-frontend-left-data-v-8367077a{0%{-webkit-transform:translate(0);transform:translate(0)}to{-webkit-transform:translateY(24px);transform:translateY(24px)}}@keyframes animation-frontend-left-data-v-8367077a{0%{-webkit-transform:translate(0);transform:translate(0)}to{-webkit-transform:translateY(24px);transform:translateY(24px)}}@-webkit-keyframes animation-design-data-v-8367077a{0%{-webkit-transform:translateX(0);transform:translateX(0)}25%{-webkit-transform:translateX(10px);transform:translateX(10px)}50%{-webkit-transform:translateX(0);transform:translateX(0)}75%{-webkit-transform:translateX(-10px);transform:translateX(-10px)}to{-webkit-transform:translateX(0);transform:translateX(0)}}@keyframes animation-design-data-v-8367077a{0%{-webkit-transform:translateX(0);transform:translateX(0)}25%{-webkit-transform:translateX(10px);transform:translateX(10px)}50%{-webkit-transform:translateX(0);transform:translateX(0)}75%{-webkit-transform:translateX(-10px);transform:translateX(-10px)}to{-webkit-transform:translateX(0);transform:translateX(0)}}@-webkit-keyframes animation-testing-data-v-8367077a{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}@keyframes animation-testing-data-v-8367077a{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}

/*!
 * Bootstrap v4.1.3 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */.cursor-custom[data-v-7b31d7eb]{position:fixed;width:40px;height:40px;top:-20px;left:-20px;border:2px solid #69a9fc;border-radius:50%;-webkit-backface-visibility:hidden;backface-visibility:hidden;background:transparent;z-index:1000;pointer-events:none;-webkit-transition:background .25s ease-out,width .25s ease-out,height .25s ease-out,top .25s ease-out,left .25s ease-out,border-color .25s ease-out;transition:background .25s ease-out,width .25s ease-out,height .25s ease-out,top .25s ease-out,left .25s ease-out,border-color .25s ease-out;opacity:.5}.cursor-custom_light[data-v-7b31d7eb]{border-color:#fff}.cursor-custom_dark[data-v-7b31d7eb]{border-color:#69a9fc}.cursor-custom_big[data-v-7b31d7eb]{width:80px;height:80px;top:-40px;left:-40px;background:#69a9fc;opacity:.3}.cursor-custom_big.cursor-custom_light[data-v-7b31d7eb]{background:#fff}.cursor-custom_big.cursor-custom_changeable[data-v-7b31d7eb],.cursor-custom_big.cursor-custom_dark[data-v-7b31d7eb]{background:#69a9fc}.blockDark_visible .cursor-custom_big.cursor-custom_changeable[data-v-7b31d7eb]{background:#fff}.cursor-custom_changeable[data-v-7b31d7eb]{border-color:#69a9fc}.blockDark_visible .cursor-custom_changeable[data-v-7b31d7eb]{border-color:#fff}.cursor-custom_next[data-v-7b31d7eb],.cursor-custom_prev[data-v-7b31d7eb]{width:120px;height:120px;top:-60px;left:-60px}.cursor-custom_next[data-v-7b31d7eb]:before,.cursor-custom_prev[data-v-7b31d7eb]:before{content:"";display:block;width:100%;height:100%;background-image:url(../img/arrow.0f2da58a.svg);background-position:50%;background-repeat:no-repeat}.cursor-custom_prev[data-v-7b31d7eb]:before{-webkit-transform:rotate(180deg);transform:rotate(180deg)}

/*!
 * Bootstrap v4.1.3 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */.experience[data-v-391d5d58]{position:relative;width:100%;height:0;padding-top:100%;background:#f7f8fa}.experience__text[data-v-391d5d58]{position:absolute;bottom:40px;left:40px;right:40px;text-align:center}

/*!
 * Bootstrap v4.1.3 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */.swiper-container[data-v-2ea9fe8f]{overflow:visible}.swiper-slide[data-v-2ea9fe8f]{padding:0 25px}@media (min-width:1600px){.container[data-v-2ea9fe8f]{max-width:none;width:65.245%;min-width:1090px}}.works-slider[data-v-2ea9fe8f]{position:relative}.works-slider .container[data-v-2ea9fe8f]{position:relative;padding-bottom:80px}.works-slider__el[data-v-2ea9fe8f]{position:relative;display:block;width:100%;height:0;padding-top:60%}.works-slider__bg[data-v-2ea9fe8f],.works-slider__descr[data-v-2ea9fe8f]{position:absolute;top:0;left:0;bottom:0;right:0}.works-slider__bg img[data-v-2ea9fe8f]{max-width:none;width:100%;height:100%;-o-object-fit:cover;object-fit:cover}.works-slider__descr[data-v-2ea9fe8f]{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;padding:60px 30% 40px 60px;color:#fff;z-index:2}.works-slider__text[data-v-2ea9fe8f]{font-size:22px;line-height:1.27273}.works-slider__arrow[data-v-2ea9fe8f]{position:absolute;bottom:50px;right:60px;display:block;width:60px;height:60px;border-radius:50%;border:2px solid hsla(0,0%,100%,.1);-webkit-transform:translateX(0);transform:translateX(0);-webkit-transition:-webkit-transform .3s ease-in-out;transition:-webkit-transform .3s ease-in-out;transition:transform .3s ease-in-out;transition:transform .3s ease-in-out,-webkit-transform .3s ease-in-out;background:url(../img/arrow.0f2da58a.svg) 50% no-repeat}.works-slider[data-v-2ea9fe8f] .swiper-scrollbar{position:absolute;left:120px;right:120px;bottom:0;z-index:50;height:50px;background:transparent}.works-slider[data-v-2ea9fe8f] .swiper-scrollbar:before{content:"";position:absolute;left:-120px;right:-120px;top:24px;display:block;height:2px;background:#f7f8fa}.works-slider[data-v-2ea9fe8f] .swiper-scrollbar-drag{height:50px;background:transparent}.works-slider[data-v-2ea9fe8f] .swiper-scrollbar-drag:before{content:"";display:block;height:100%;width:100%;position:absolute;background:url(../img/pointer.3c0aaac6.svg) 50% no-repeat;left:0;right:0;margin:0 auto;top:0;cursor:pointer}

/*!
 * Bootstrap v4.1.3 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */.advantage-list[data-v-bc3b6d86]{padding-top:25px}.advantage[data-v-bc3b6d86]{padding:0 15%;text-align:center}.advantage__icon[data-v-bc3b6d86]{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;width:100px;height:100px;margin:0 auto 28px}.advantage__title[data-v-bc3b6d86]{margin:0 0 .85em;font-size:16px;font-family:Gilroy Bold,sans-serif;font-weight:400}.team[data-v-12a71184]{position:relative}.team__line[data-v-12a71184]{position:absolute;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);left:0;right:0;height:auto}.team__row[data-v-12a71184]{position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;z-index:2}.team__descr[data-v-12a71184]{width:100%;padding-right:80px}.team .h2[data-v-12a71184]{margin-top:0;margin-bottom:.8em}.team__media[data-v-12a71184]{-ms-flex-negative:0;flex-shrink:0}.team__media-inner[data-v-12a71184]{width:400px;height:400px;border-radius:50%}.clients[data-v-061cfad8]{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap}.clients__el[data-v-061cfad8]{width:25%}.client-el[data-v-061cfad8]{position:relative;width:100%;height:0;padding-top:50%}.client-el img[data-v-061cfad8]{position:absolute;top:0;left:0;right:0;bottom:0;margin:auto;max-height:90%;max-width:90%}

/*!
 * Bootstrap v4.1.3 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */.contacts[data-v-3d3fc002]{position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;height:740px}.contacts .h2[data-v-3d3fc002]{margin:0;color:#fff}.contacts__info[data-v-3d3fc002]{position:relative;width:100%;text-align:center;z-index:2}.contacts__descr[data-v-3d3fc002]{position:absolute;left:0;right:0;bottom:calc(100% + 30px);max-width:400px;margin:0 auto}.contacts__btn[data-v-3d3fc002]{position:relative;width:100px;height:100px;margin:0 auto;border-radius:50%;background:#fff;cursor:pointer}.contacts__btn[data-v-3d3fc002]:after,.contacts__btn[data-v-3d3fc002]:before{content:"";position:absolute;top:50%;left:50%;-webkit-transform:translate(-50%,-1px);transform:translate(-50%,-1px);display:block;width:20px;height:2px;background:#69a9fc;-webkit-transition:.25s ease-out;transition:.25s ease-out}.contacts__btn[data-v-3d3fc002]:after{-webkit-transform:rotate(90deg) translate(-1px,10px);transform:rotate(90deg) translate(-1px,10px)}.contacts__btn[data-v-3d3fc002]:hover:before{width:34px;-webkit-transform:translate(-50%,-1px);transform:translate(-50%,-1px)}.contacts__btn[data-v-3d3fc002]:hover:after{width:34px;-webkit-transform:rotate(90deg) translate(-1px,17px);transform:rotate(90deg) translate(-1px,17px)}#line-contacts[data-v-3d3fc002]{position:absolute;top:50%;left:0;right:0;margin-top:-50px;-webkit-transform:translateY(-50%);transform:translateY(-50%);height:auto}.contacts+.menu-footer[data-v-4c62e9b2]{position:absolute;bottom:0;left:0;right:0;width:auto}.menu-footer__list[data-v-4c62e9b2]{height:100px;width:100%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;list-style:none;margin:0;padding:0}.menu-footer__el[data-v-4c62e9b2]{margin:0;padding:0}.menu-footer__el>a[data-v-4c62e9b2],.menu-footer__el>span[data-v-4c62e9b2]{display:inline-block;line-height:3;color:#fff}@font-face{font-family:Gilroy Regular;font-style:normal;font-weight:400;src:url(../fonts/Gilroy-Regular.11c5b356.woff2) format("woff2"),url(../fonts/Gilroy-Regular.2abef08d.woff) format("woff")}@font-face{font-family:Gilroy Bold;font-style:normal;font-weight:400;src:url(../fonts/Gilroy-Bold.62872c8e.woff2) format("woff2"),url(../fonts/Gilroy-Bold.3ca17cce.woff) format("woff")}

/*!
 * Bootstrap v4.1.3 (https://getbootstrap.com/)
 * Copyright 2011-2018 The Bootstrap Authors
 * Copyright 2011-2018 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */*{-webkit-box-sizing:border-box;box-sizing:border-box}body,html{margin:0;padding:0;font-size:16px;line-height:1.1875;font-family:Gilroy Regular,sans-serif;color:#969799}body{min-width:300px;overflow-x:auto}.page{position:relative;overflow:hidden}.main{display:block}.container{width:100%;max-width:1440px;padding:0 120px;margin:0 auto}.container_wide{max-width:none;padding:0 60px}.container_narrow{max-width:1040px}.articles{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin:-30px -39px}.articles__el{width:33.33333%;padding:30px 39px}a{text-decoration:none}p{margin:0 0 1em}img{max-width:100%}.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{color:#314359;font-family:Gilroy Bold,sans-serif;font-weight:400}.h2,h2{margin:1em 0 .8em;font-size:28px}.swiper-container{margin:0 auto;position:relative;overflow:hidden;list-style:none;padding:0;z-index:1}.swiper-container-no-flexbox .swiper-slide{float:left}.swiper-container-vertical>.swiper-wrapper{-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column}.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-transition-property:-webkit-transform;transition-property:-webkit-transform;transition-property:transform;transition-property:transform,-webkit-transform;-webkit-box-sizing:content-box;box-sizing:content-box}.swiper-container-android .swiper-slide,.swiper-wrapper{-webkit-transform:translateZ(0);transform:translateZ(0)}.swiper-container-multirow>.swiper-wrapper{-ms-flex-wrap:wrap;flex-wrap:wrap}.swiper-container-free-mode>.swiper-wrapper{-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out;margin:0 auto}.swiper-slide{-ms-flex-negative:0;flex-shrink:0;width:100%;height:100%;position:relative;-webkit-transition-property:-webkit-transform;transition-property:-webkit-transform;transition-property:transform;transition-property:transform,-webkit-transform}.swiper-slide-invisible-blank{visibility:hidden}.swiper-container-autoheight,.swiper-container-autoheight .swiper-slide{height:auto}.swiper-container-autoheight .swiper-wrapper{-webkit-box-align:start;-ms-flex-align:start;align-items:flex-start;-webkit-transition-property:height,-webkit-transform;transition-property:height,-webkit-transform;transition-property:transform,height;transition-property:transform,height,-webkit-transform}.swiper-container-3d{-webkit-perspective:1200px;perspective:1200px}.swiper-container-3d .swiper-cube-shadow,.swiper-container-3d .swiper-slide,.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top,.swiper-container-3d .swiper-wrapper{-webkit-transform-style:preserve-3d;transform-style:preserve-3d}.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top{position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:none;z-index:10}.swiper-container-3d .swiper-slide-shadow-left{background-image:-webkit-gradient(linear,right top,left top,from(rgba(0,0,0,.5)),to(transparent));background-image:linear-gradient(270deg,rgba(0,0,0,.5),transparent)}.swiper-container-3d .swiper-slide-shadow-right{background-image:-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(transparent));background-image:linear-gradient(90deg,rgba(0,0,0,.5),transparent)}.swiper-container-3d .swiper-slide-shadow-top{background-image:-webkit-gradient(linear,left bottom,left top,from(rgba(0,0,0,.5)),to(transparent));background-image:linear-gradient(0deg,rgba(0,0,0,.5),transparent)}.swiper-container-3d .swiper-slide-shadow-bottom{background-image:-webkit-gradient(linear,left top,left bottom,from(rgba(0,0,0,.5)),to(transparent));background-image:linear-gradient(180deg,rgba(0,0,0,.5),transparent)}.swiper-container-wp8-horizontal,.swiper-container-wp8-horizontal>.swiper-wrapper{-ms-touch-action:pan-y;touch-action:pan-y}.swiper-container-wp8-vertical,.swiper-container-wp8-vertical>.swiper-wrapper{-ms-touch-action:pan-x;touch-action:pan-x}.swiper-button-next,.swiper-button-prev{position:absolute;top:50%;width:27px;height:44px;margin-top:-22px;z-index:10;cursor:pointer;background-size:27px 44px;background-position:50%;background-repeat:no-repeat}.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled{opacity:.35;cursor:auto;pointer-events:none}.swiper-button-prev,.swiper-container-rtl .swiper-button-next{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0 22L22 0l2.1 2.1L4.2 22l19.9 19.9L22 44 0 22z' fill='%23007aff'/%3E%3C/svg%3E");left:10px;right:auto}.swiper-button-next,.swiper-container-rtl .swiper-button-prev{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z' fill='%23007aff'/%3E%3C/svg%3E");right:10px;left:auto}.swiper-button-prev.swiper-button-white,.swiper-container-rtl .swiper-button-next.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0 22L22 0l2.1 2.1L4.2 22l19.9 19.9L22 44 0 22z' fill='%23fff'/%3E%3C/svg%3E")}.swiper-button-next.swiper-button-white,.swiper-container-rtl .swiper-button-prev.swiper-button-white{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z' fill='%23fff'/%3E%3C/svg%3E")}.swiper-button-prev.swiper-button-black,.swiper-container-rtl .swiper-button-next.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0 22L22 0l2.1 2.1L4.2 22l19.9 19.9L22 44 0 22z'/%3E%3C/svg%3E")}.swiper-button-next.swiper-button-black,.swiper-container-rtl .swiper-button-prev.swiper-button-black{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z'/%3E%3C/svg%3E")}.swiper-button-lock{display:none}.swiper-pagination{position:absolute;text-align:center;-webkit-transition:opacity .3s;transition:opacity .3s;-webkit-transform:translateZ(0);transform:translateZ(0);z-index:10}.swiper-pagination.swiper-pagination-hidden{opacity:0}.swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction{bottom:10px;left:0;width:100%}.swiper-pagination-bullets-dynamic{overflow:hidden;font-size:0}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{-webkit-transform:scale(.33);transform:scale(.33);position:relative}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active,.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main{-webkit-transform:scale(1);transform:scale(1)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev{-webkit-transform:scale(.66);transform:scale(.66)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev{-webkit-transform:scale(.33);transform:scale(.33)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next{-webkit-transform:scale(.66);transform:scale(.66)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next{-webkit-transform:scale(.33);transform:scale(.33)}.swiper-pagination-bullet{width:8px;height:8px;display:inline-block;border-radius:100%;background:#000;opacity:.2}button.swiper-pagination-bullet{border:none;margin:0;padding:0;-webkit-box-shadow:none;box-shadow:none;-webkit-appearance:none;-moz-appearance:none;appearance:none}.swiper-pagination-clickable .swiper-pagination-bullet{cursor:pointer}.swiper-pagination-bullet-active{opacity:1;background:#007aff}.swiper-container-vertical>.swiper-pagination-bullets{right:10px;top:50%;-webkit-transform:translate3d(0,-50%,0);transform:translate3d(0,-50%,0)}.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{margin:6px 0;display:block}.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);width:8px}.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{display:inline-block;-webkit-transition:top .2s,-webkit-transform .2s;transition:top .2s,-webkit-transform .2s;-webkit-transition:transform .2s,top .2s;transition:transform .2s,top .2s;-webkit-transition:transform .2s,top .2s,-webkit-transform .2s;transition:transform .2s,top .2s,-webkit-transform .2s}.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 4px}.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);white-space:nowrap}.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{-webkit-transition:left .2s,-webkit-transform .2s;transition:left .2s,-webkit-transform .2s;-webkit-transition:transform .2s,left .2s;transition:transform .2s,left .2s;-webkit-transition:transform .2s,left .2s,-webkit-transform .2s;transition:transform .2s,left .2s,-webkit-transform .2s}.swiper-container-horizontal.swiper-container-rtl>.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{-webkit-transition:right .2s,-webkit-transform .2s;transition:right .2s,-webkit-transform .2s;-webkit-transition:transform .2s,right .2s;transition:transform .2s,right .2s;-webkit-transition:transform .2s,right .2s,-webkit-transform .2s;transition:transform .2s,right .2s,-webkit-transform .2s}.swiper-pagination-progressbar{background:rgba(0,0,0,.25);position:absolute}.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{background:#007aff;position:absolute;left:0;top:0;width:100%;height:100%;-webkit-transform:scale(0);transform:scale(0);-webkit-transform-origin:left top;transform-origin:left top}.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{-webkit-transform-origin:right top;transform-origin:right top}.swiper-container-horizontal>.swiper-pagination-progressbar,.swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{width:100%;height:4px;left:0;top:0}.swiper-container-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,.swiper-container-vertical>.swiper-pagination-progressbar{width:4px;height:100%;left:0;top:0}.swiper-pagination-white .swiper-pagination-bullet-active{background:#fff}.swiper-pagination-progressbar.swiper-pagination-white{background:hsla(0,0%,100%,.25)}.swiper-pagination-progressbar.swiper-pagination-white .swiper-pagination-progressbar-fill{background:#fff}.swiper-pagination-black .swiper-pagination-bullet-active{background:#000}.swiper-pagination-progressbar.swiper-pagination-black{background:rgba(0,0,0,.25)}.swiper-pagination-progressbar.swiper-pagination-black .swiper-pagination-progressbar-fill{background:#000}.swiper-pagination-lock{display:none}.swiper-scrollbar{border-radius:10px;position:relative;-ms-touch-action:none;background:rgba(0,0,0,.1)}.swiper-container-horizontal>.swiper-scrollbar{position:absolute;left:1%;bottom:3px;z-index:50;height:5px;width:98%}.swiper-container-vertical>.swiper-scrollbar{position:absolute;right:3px;top:1%;z-index:50;width:5px;height:98%}.swiper-scrollbar-drag{height:100%;width:100%;position:relative;background:rgba(0,0,0,.5);border-radius:10px;left:0;top:0}.swiper-scrollbar-cursor-drag{cursor:move}.swiper-scrollbar-lock{display:none}.swiper-zoom-container{width:100%;height:100%;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;text-align:center}.swiper-zoom-container>canvas,.swiper-zoom-container>img,.swiper-zoom-container>svg{max-width:100%;max-height:100%;-o-object-fit:contain;object-fit:contain}.swiper-slide-zoomed{cursor:move}.swiper-lazy-preloader{width:42px;height:42px;position:absolute;left:50%;top:50%;margin-left:-21px;margin-top:-21px;z-index:10;-webkit-transform-origin:50%;transform-origin:50%;-webkit-animation:swiper-preloader-spin 1s steps(12) infinite;animation:swiper-preloader-spin 1s steps(12) infinite}.swiper-lazy-preloader:after{display:block;content:"";width:100%;height:100%;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' stroke='%236c6c6c' stroke-width='11' stroke-linecap='round' d='M60 7v20'/%3E%3C/defs%3E%3Cuse xlink:href='%23a' opacity='.27'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(30 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(60 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(90 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(120 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(150 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.37' transform='rotate(180 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.46' transform='rotate(210 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.56' transform='rotate(240 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.66' transform='rotate(270 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.75' transform='rotate(300 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.85' transform='rotate(330 60 60)'/%3E%3C/svg%3E");background-position:50%;background-size:100%;background-repeat:no-repeat}.swiper-lazy-preloader-white:after{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' stroke='%23fff' stroke-width='11' stroke-linecap='round' d='M60 7v20'/%3E%3C/defs%3E%3Cuse xlink:href='%23a' opacity='.27'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(30 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(60 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(90 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(120 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(150 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.37' transform='rotate(180 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.46' transform='rotate(210 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.56' transform='rotate(240 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.66' transform='rotate(270 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.75' transform='rotate(300 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.85' transform='rotate(330 60 60)'/%3E%3C/svg%3E")}@-webkit-keyframes swiper-preloader-spin{to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}@keyframes swiper-preloader-spin{to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}.swiper-container .swiper-notification{position:absolute;left:0;top:0;pointer-events:none;opacity:0;z-index:-1000}.swiper-container-fade.swiper-container-free-mode .swiper-slide{-webkit-transition-timing-function:ease-out;transition-timing-function:ease-out}.swiper-container-fade .swiper-slide{pointer-events:none;-webkit-transition-property:opacity;transition-property:opacity}.swiper-container-fade .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-fade .swiper-slide-active,.swiper-container-fade .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-cube{overflow:visible}.swiper-container-cube .swiper-slide{pointer-events:none;-webkit-backface-visibility:hidden;backface-visibility:hidden;z-index:1;visibility:hidden;-webkit-transform-origin:0 0;transform-origin:0 0;width:100%;height:100%}.swiper-container-cube .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-cube.swiper-container-rtl .swiper-slide{-webkit-transform-origin:100% 0;transform-origin:100% 0}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-next,.swiper-container-cube .swiper-slide-next+.swiper-slide,.swiper-container-cube .swiper-slide-prev{pointer-events:auto;visibility:visible}.swiper-container-cube .swiper-slide-shadow-bottom,.swiper-container-cube .swiper-slide-shadow-left,.swiper-container-cube .swiper-slide-shadow-right,.swiper-container-cube .swiper-slide-shadow-top{z-index:0;-webkit-backface-visibility:hidden;backface-visibility:hidden}.swiper-container-cube .swiper-cube-shadow{position:absolute;left:0;bottom:0;width:100%;height:100%;background:#000;opacity:.6;-webkit-filter:blur(50px);filter:blur(50px);z-index:0}.swiper-container-flip{overflow:visible}.swiper-container-flip .swiper-slide{pointer-events:none;-webkit-backface-visibility:hidden;backface-visibility:hidden;z-index:1}.swiper-container-flip .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-flip .swiper-slide-active,.swiper-container-flip .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-flip .swiper-slide-shadow-bottom,.swiper-container-flip .swiper-slide-shadow-left,.swiper-container-flip .swiper-slide-shadow-right,.swiper-container-flip .swiper-slide-shadow-top{z-index:0;-webkit-backface-visibility:hidden;backface-visibility:hidden}.swiper-container-coverflow .swiper-wrapper{-ms-perspective:1200px}.section[data-v-eb099b9e]{padding:116px 0}.section+.section[data-v-eb099b9e]{padding-top:0}.section__head[data-v-eb099b9e]{margin-bottom:50px;text-align:center}.section__head h2[data-v-eb099b9e]{margin-top:0}.footer[data-v-eb099b9e]{background:linear-gradient(127.24deg,#66a9ff,#6de8f2)}